html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


.contenidoTablas{
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

.tabla{
  /* margin: 3rem 1rem; */
  text-align: center;
  font-size: 2.4rem;
}
.tabla h1{
  font-size: 5rem;
  padding: 1rem 0 0 0;
  margin-bottom: 0;
  /* bottom: -20px; */
}

.multiplicacion{
  background-color: salmon;
  border-radius: 5rem;
  padding: 1rem 0;
}

.multiplicacion li{
  list-style: none;
  padding: .2rem;
  margin: 0;
}
.multiplicacion li span{
  font-size: 3rem;
}

@media (min-width: 768px) {
  .contenidoTablas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .tabla{
    flex-basis: calc(50% - 6rem);
  }
}

@media (min-width: 992px) {
  .tabla{
    flex-basis: calc(33.3% - 6rem);
  }
}
